.mediaViewInfo {
    --web-view-name: Main;
    --web-view-id: Main;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

:root {
    --web-view-ids: Main;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

#Main {
    position: absolute;
    background: #E5E5E5;
    width: 1280px;
    height: 945px;
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;
    --web-view-name: Main;
    --web-view-id: Main;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

#Hero_05 {
    position: absolute;
    width: 1280px;
    height: 800px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Background_bd {
    position: absolute;
    overflow: visible;
    width: 1280px;
    height: 800px;
    left: 0px;
    top: 0px;
}

#Elements___Buttons___Primary__ {
    position: absolute;
    width: 168px;
    height: 50px;
    left: 640.844px;
    top: 543px;
    overflow: visible;
}

#Button_Copy_4 {
    position: absolute;
    width: 168px;
    height: 50px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Base {
    position: absolute;
    overflow: visible;
    width: 168px;
    height: 50px;
    left: 0px;
    top: 0px;
}

#Button_Text {
    position: absolute;
    left: 0px;
    top: 14px;
    overflow: hidden;
    width: 169px;
    height: 22px;
    line-height: 22px;
    margin-top: -2px;
    text-align: center;
    font-family: Inter-SemiBold;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: -0.2222222137451172px;
}

#Elements___Buttons___Primary___n {
    position: absolute;
    width: 168px;
    height: 50px;
    left: 471.156px;
    top: 543px;
    overflow: visible;
}

#Button {
    position: absolute;
    width: 168px;
    height: 50px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Base_p {
    position: absolute;
    overflow: visible;
    width: 168px;
    height: 50px;
    left: 0px;
    top: 0px;
}

#Button_Text_q {
    position: absolute;
    left: 0px;
    top: 14px;
    overflow: hidden;
    width: 169px;
    height: 21px;
    text-align: center;
    font-family: Inter-SemiBold;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: -0.2222222137451172px;
}

#It_is_a_long_establi {
    position: absolute;
    left: 369.07px;
    top: 423px;
    overflow: hidden;
    width: 542px;
    height: 84px;
    line-height: 28px;
    margin-top: -4px;
    text-align: center;
    font-family: Inter-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(62, 68, 98, 1);
    letter-spacing: -0.2px;
}

#The_New_Standart_In {
    position: absolute;
    left: 334px;
    top: 247px;
    overflow: hidden;
    width: 612px;
    height: 160px;
    line-height: 80px;
    margin-top: -4px;
    text-align: center;
    font-family: Inter-SemiBold;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    color: rgba(24, 33, 77, 1);
    letter-spacing: -0.4166666793823242px;
}

#Menu {
    position: absolute;
    width: 224px;
    height: 16px;
    left: 896px;
    top: 57px;
    overflow: visible;
}

#About {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 41px;
    white-space: nowrap;
    text-align: left;
    font-family: Inter-SemiBold;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(24, 33, 77, 1);
    letter-spacing: -0.25px;
}

#Services {
    position: absolute;
    left: 76px;
    top: 0px;
    overflow: visible;
    width: 56px;
    white-space: nowrap;
    text-align: left;
    font-family: Inter-SemiBold;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(24, 33, 77, 1);
    letter-spacing: -0.25px;
}

#Contacts {
    position: absolute;
    left: 171px;
    top: 0px;
    overflow: visible;
    width: 54px;
    white-space: nowrap;
    text-align: left;
    font-family: Inter-SemiBold;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(24, 33, 77, 1);
    letter-spacing: -0.25px;
}

#Elements___Logo___Type___Dark_be {
    position: absolute;
    width: 169px;
    height: 28px;
    left: 145px;
    top: 50px;
    overflow: visible;
}

#Method_bf {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 170px;
    white-space: nowrap;
    text-align: left;
    font-family: Inter-Bold;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: rgba(24, 33, 77, 1);
    letter-spacing: -0.21428571701049803px;
}

#Logo {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 590px;
    top: 131px;
    overflow: visible;
}

.Rectangle_1 {
    position: absolute;
    overflow: visible;
    width: 102px;
    height: 102px;
    left: 0px;
    top: 0px;
}

#Macro_Analyst {
    position: absolute;
    left: 1px;
    top: 18px;
    overflow: visible;
    width: 99px;
    white-space: nowrap;
    text-align: center;
    font-family: Verlag;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(255, 255, 255, 1);
}

#Github {
    position: absolute;
    width: 39px;
    height: 39px;
    left: 621px;
    top: 654px;
    overflow: visible;
}

#Github_ {
    position: absolute;
    width: 39px;
    height: 39px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Fill_4 {
    overflow: visible;
    position: absolute;
    width: 39px;
    height: 39px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Fill_5 {
    overflow: visible;
    position: absolute;
    width: 0.659px;
    height: 0.532px;
    left: 8.52px;
    top: 28.161px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Fill_6 {
    overflow: visible;
    position: absolute;
    width: 0.703px;
    height: 0.732px;
    left: 7.693px;
    top: 28.811px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Fill_7 {
    overflow: visible;
    position: absolute;
    width: 0.758px;
    height: 0.875px;
    left: 8.444px;
    top: 29.798px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Fill_8 {
    overflow: visible;
    position: absolute;
    width: 0.897px;
    height: 0.893px;
    left: 9.341px;
    top: 30.916px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Fill_9 {
    overflow: visible;
    position: absolute;
    width: 1.013px;
    height: 0.759px;
    left: 10.633px;
    top: 30.277px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Fill_10 {
    overflow: visible;
    position: absolute;
    width: 1.03px;
    height: 0.727px;
    left: 12.195px;
    top: 30.6px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Fill_11 {
    overflow: visible;
    position: absolute;
    width: 1.025px;
    height: 0.742px;
    left: 13.677px;
    top: 30.361px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Hero_05_bc {
    position: absolute;
    width: 1280px;
    height: 800px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Background_bd {
    position: absolute;
    overflow: visible;
    width: 1280px;
    height: 800px;
    left: 0px;
    top: 0px;
}

#Elements___Logo___Type___Dark_be {
    position: absolute;
    width: 169px;
    height: 28px;
    left: 145px;
    top: 50px;
    overflow: visible;
}

#Method_bf {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 170px;
    white-space: nowrap;
    text-align: left;
    font-family: Inter-Bold;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: rgba(24, 33, 77, 1);
    letter-spacing: -0.21428571701049803px;
}

.Divider {
    overflow: visible;
    position: absolute;
    width: 1184px;
    height: 1px;
    left: 56px;
    top: 75.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Logo_bh {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 590px;
    top: 14px;
    overflow: visible;
}

.Rectangle_1_bi {
    position: absolute;
    overflow: visible;
    width: 102px;
    height: 102px;
    left: 0px;
    top: 0px;
}

#Macro_Analyst_bj {
    position: absolute;
    left: 1px;
    top: 18px;
    overflow: visible;
    width: 99px;
    white-space: nowrap;
    text-align: center;
    font-family: Verlag;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(255, 255, 255, 1);
}

#Github_bk {
    position: absolute;
    width: 27px;
    height: 27px;
    left: 818px;
    top: 46px;
    overflow: visible;
}

#Github_bl {
    position: absolute;
    width: 27px;
    height: 27px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Fill_4_bm {
    overflow: visible;
    position: absolute;
    width: 27px;
    height: 27px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Fill_5_bn {
    overflow: visible;
    position: absolute;
    width: 0.659px;
    height: 0.532px;
    left: 8.52px;
    top: 19.376px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Fill_6_bo {
    overflow: visible;
    position: absolute;
    width: 0.703px;
    height: 0.732px;
    left: 5.283px;
    top: 19.777px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Fill_7_bp {
    overflow: visible;
    position: absolute;
    width: 0.758px;
    height: 0.875px;
    left: 5.794px;
    top: 20.419px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Fill_8_bq {
    overflow: visible;
    position: absolute;
    width: 0.897px;
    height: 0.893px;
    left: 6.399px;
    top: 21.181px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Fill_9_br {
    overflow: visible;
    position: absolute;
    width: 1.013px;
    height: 0.759px;
    left: 7.274px;
    top: 18.277px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Fill_10_bs {
    overflow: visible;
    position: absolute;
    width: 1.03px;
    height: 0.727px;
    left: 8.341px;
    top: 18.6px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Fill_11_bt {
    overflow: visible;
    position: absolute;
    width: 1.025px;
    height: 0.742px;
    left: 9.355px;
    top: 18.361px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Menu_bu {
    position: absolute;
    width: 339px;
    height: 16px;
    left: 877px;
    top: 57px;
    overflow: visible;
}

#About_bv {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 41px;
    white-space: nowrap;
    text-align: left;
    font-family: Inter-SemiBold;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(24, 33, 77, 1);
    letter-spacing: -0.25px;
}

#Services_bw {
    position: absolute;
    left: 76px;
    top: 0px;
    overflow: visible;
    width: 56px;
    white-space: nowrap;
    text-align: left;
    font-family: Inter-SemiBold;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(24, 33, 77, 1);
    letter-spacing: -0.25px;
}

#Contacts_bx {
    position: absolute;
    left: 167px;
    top: 0px;
    overflow: visible;
    width: 84px;
    white-space: nowrap;
    text-align: left;
    font-family: Inter-SemiBold;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(24, 33, 77, 1);
    letter-spacing: -0.25px;
}

#Contacts_by {
    position: absolute;
    left: 286px;
    top: 0px;
    overflow: visible;
    width: 54px;
    white-space: nowrap;
    text-align: left;
    font-family: Inter-SemiBold;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(24, 33, 77, 1);
    letter-spacing: -0.25px;
}

#Square {
    transform: matrix(1, 0, 0, 1, 41.9705, 164.3857) rotate(0deg);
    transform-origin: center;
    position: absolute;
    width: 584px;
    height: 601px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Rectangle_282 {
    position: absolute;
    overflow: visible;
    width: 584px;
    height: 601px;
    left: 0px;
    top: 0px;
}

#Square_b {
    transform: matrix(1, 0, 0, 1, 654.9705, 164.3857) rotate(0deg);
    transform-origin: center;
    position: absolute;
    width: 584px;
    height: 601px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Rectangle_282_b {
    position: absolute;
    overflow: visible;
    width: 584px;
    height: 601px;
    left: 0px;
    top: 0px;
}

#TITLE {
    position: absolute;
    left: 273px;
    top: 288.698px;
    overflow: visible;
    width: 39px;
    white-space: nowrap;
    text-align: center;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(38, 153, 251, 1);
}

.Chart_1 {
    overflow: visible;
    position: absolute;
    width: 558px;
    height: 336px;
    left: 55px;
    top: 234px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Chart_2 {
    overflow: visible;
    position: absolute;
    width: 558px;
    height: 336px;
    left: 668px;
    top: 234px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Divider_b {
    position: absolute;
    overflow: visible;
    width: 1184px;
    height: 1px;
    left: 55px;
    top: 799.5px;
}

#Find_Macro_Analyst_on_GitHub__ {
    position: absolute;
    left: 399px;
    top: 856px;
    overflow: visible;
    width: 498px;
    white-space: nowrap;
    line-height: 36px;
    margin-top: -5px;
    text-align: left;
    font-family: Inter-SemiBold;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: rgba(24, 33, 77, 1);
    letter-spacing: -0.25px;
}

#Dropdown_1 {
    position: absolute;
    width: 558px;
    height: 36px;
    left: 668px;
    top: 186px;
    overflow: visible;
}

.Rectangle_686 {
    position: absolute;
    overflow: visible;
    width: 558px;
    height: 36px;
    left: 0px;
    top: 0px;
}

.Rectangle_689 {
    position: absolute;
    overflow: visible;
    width: 50px;
    height: 36px;
    left: 508px;
    top: 0px;
}

#Indicator {
    position: absolute;
    left: 20px;
    top: 10px;
    overflow: visible;
    width: 55px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
}

.Path_36 {
    overflow: visible;
    position: absolute;
    width: 9.4px;
    height: 6.1px;
    left: 528.033px;
    top: 15.065px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Dropdown_1_cd {
    position: absolute;
    width: 557px;
    height: 36px;
    left: 56px;
    top: 186px;
    overflow: visible;
}

.Rectangle_686_ce {
    position: absolute;
    overflow: visible;
    width: 557px;
    height: 36px;
    left: 0px;
    top: 0px;
}

.Rectangle_689_cf {
    position: absolute;
    overflow: visible;
    width: 50px;
    height: 36px;
    left: 507px;
    top: 0px;
}

#Country {
    position: absolute;
    left: 20px;
    top: 10px;
    overflow: visible;
    width: 50px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
}

.Path_36_ch {
    overflow: visible;
    position: absolute;
    width: 9.4px;
    height: 6.1px;
    left: 527.033px;
    top: 15.136px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Small_Cards {
    position: absolute;
    width: 194px;
    height: 150px;
    left: 94px;
    top: 607px;
    overflow: visible;
}

.Rectangle_339 {
    position: absolute;
    overflow: visible;
    width: 194px;
    height: 20px;
    left: 0px;
    top: 0px;
}

.Rectangle_690 {
    position: absolute;
    overflow: visible;
    width: 194px;
    height: 20px;
    left: 0px;
    top: 26px;
}

.Rectangle_691 {
    position: absolute;
    overflow: visible;
    width: 194px;
    height: 20px;
    left: 0px;
    top: 52px;
}

.Rectangle_692 {
    position: absolute;
    overflow: visible;
    width: 194px;
    height: 20px;
    left: 0px;
    top: 78px;
}

.Rectangle_693 {
    position: absolute;
    overflow: visible;
    width: 194px;
    height: 20px;
    left: 0px;
    top: 104px;
}

.Rectangle_694 {
    position: absolute;
    overflow: visible;
    width: 194px;
    height: 20px;
    left: 0px;
    top: 130px;
}

#Small_Cards_2 {
    position: absolute;
    width: 192px;
    height: 150px;
    left: 369px;
    top: 607px;
    overflow: visible;
}

.Rectangle_339_cq {
    position: absolute;
    overflow: visible;
    width: 192px;
    height: 20px;
    left: 0px;
    top: 0px;
}

.Rectangle_690_cr {
    position: absolute;
    overflow: visible;
    width: 192px;
    height: 20px;
    left: 0px;
    top: 26px;
}

.Rectangle_691_cs {
    position: absolute;
    overflow: visible;
    width: 192px;
    height: 20px;
    left: 0px;
    top: 52px;
}

.Rectangle_692_ct {
    position: absolute;
    overflow: visible;
    width: 192px;
    height: 20px;
    left: 0px;
    top: 78px;
}

.Rectangle_693_cu {
    position: absolute;
    overflow: visible;
    width: 192px;
    height: 20px;
    left: 0px;
    top: 104px;
}

.Rectangle_694_cv {
    position: absolute;
    overflow: visible;
    width: 192px;
    height: 20px;
    left: 0px;
    top: 130px;
}

#mean_1052_7985 {
    position: absolute;
    left: 130px;
    top: 607px;
    overflow: visible;
    width: 123px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
}

#mean_1052_7985_cx {
    position: absolute;
    left: 399px;
    top: 607px;
    overflow: visible;
    width: 123px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
}

#mean_1052_7985_cy {
    position: absolute;
    left: 399px;
    top: 635px;
    overflow: visible;
    width: 123px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
}

#mean_1052_7985_cz {
    position: absolute;
    left: 399px;
    top: 659px;
    overflow: visible;
    width: 123px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
}

#mean_1052_7985_c {
    position: absolute;
    left: 399px;
    top: 687px;
    overflow: visible;
    width: 123px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
}

#mean_1052_7985_da {
    position: absolute;
    left: 399px;
    top: 711px;
    overflow: visible;
    width: 123px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
}

#mean_1052_7985_db {
    position: absolute;
    left: 399px;
    top: 737px;
    overflow: visible;
    width: 123px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
}

#mean_1052_7985_dc {
    position: absolute;
    left: 130px;
    top: 635px;
    overflow: visible;
    width: 123px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
}

#mean_1052_7985_dd {
    position: absolute;
    left: 130px;
    top: 659px;
    overflow: visible;
    width: 123px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
}

#mean_1052_7985_de {
    position: absolute;
    left: 130px;
    top: 687px;
    overflow: visible;
    width: 123px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
}

#mean_1052_7985_df {
    position: absolute;
    left: 130px;
    top: 711px;
    overflow: visible;
    width: 123px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
}

#mean_1052_7985_dg {
    position: absolute;
    left: 130px;
    top: 737px;
    overflow: visible;
    width: 123px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
}

#Small_Cards_c {
    position: absolute;
    width: 194px;
    height: 150px;
    left: 713px;
    top: 607px;
    overflow: visible;
}

.Rectangle_339_c {
    position: absolute;
    overflow: visible;
    width: 194px;
    height: 20px;
    left: 0px;
    top: 0px;
}

.Rectangle_690_da {
    position: absolute;
    overflow: visible;
    width: 194px;
    height: 20px;
    left: 0px;
    top: 26px;
}

.Rectangle_691_db {
    position: absolute;
    overflow: visible;
    width: 194px;
    height: 20px;
    left: 0px;
    top: 52px;
}

.Rectangle_692_dc {
    position: absolute;
    overflow: visible;
    width: 194px;
    height: 20px;
    left: 0px;
    top: 78px;
}

.Rectangle_693_dd {
    position: absolute;
    overflow: visible;
    width: 194px;
    height: 20px;
    left: 0px;
    top: 104px;
}

.Rectangle_694_de {
    position: absolute;
    overflow: visible;
    width: 194px;
    height: 20px;
    left: 0px;
    top: 130px;
}

#Error_2 {
    position: absolute;
    width: 192px;
    height: 150px;
    left: 988px;
    top: 607px;
    overflow: visible;
}

.Rectangle_339_dg {
    position: absolute;
    overflow: visible;
    width: 192px;
    height: 20px;
    left: 0px;
    top: 0px;
}

.Rectangle_690_dh {
    position: absolute;
    overflow: visible;
    width: 192px;
    height: 20px;
    left: 0px;
    top: 26px;
}

.Rectangle_691_di {
    position: absolute;
    overflow: visible;
    width: 192px;
    height: 20px;
    left: 0px;
    top: 52px;
}

.Rectangle_692_dj {
    position: absolute;
    overflow: visible;
    width: 192px;
    height: 20px;
    left: 0px;
    top: 78px;
}

.Rectangle_693_dk {
    position: absolute;
    overflow: visible;
    width: 192px;
    height: 20px;
    left: 0px;
    top: 104px;
}

.Rectangle_694_dl {
    position: absolute;
    overflow: visible;
    width: 192px;
    height: 20px;
    left: 0px;
    top: 130px;
}

#mean_1052_7985_dm {
    position: absolute;
    left: 749px;
    top: 659px;
    overflow: visible;
    width: 123px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
}

#mean_1052_7985_dn {
    position: absolute;
    left: 749px;
    top: 635px;
    overflow: visible;
    width: 123px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
}

#mean_1052_7985_do {
    position: absolute;
    left: 749px;
    top: 607px;
    overflow: visible;
    width: 123px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
}

#mean_1052_7985_dp {
    position: absolute;
    left: 1023px;
    top: 607px;
    overflow: visible;
    width: 123px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
}

#mean_1052_7985_dq {
    position: absolute;
    left: 1023px;
    top: 635px;
    overflow: visible;
    width: 123px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
}

#mean_1052_7985_dr {
    position: absolute;
    left: 1023px;
    top: 659px;
    overflow: visible;
    width: 123px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
}

#mean_1052_7985_ds {
    position: absolute;
    left: 1023px;
    top: 687px;
    overflow: visible;
    width: 123px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
}

#mean_1052_7985_dt {
    position: absolute;
    left: 1023px;
    top: 711px;
    overflow: visible;
    width: 123px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
}

#mean_1052_7985_du {
    position: absolute;
    left: 1023px;
    top: 739px;
    overflow: visible;
    width: 123px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
}

#mean_1052_7985_dv {
    position: absolute;
    left: 749px;
    top: 687px;
    overflow: visible;
    width: 123px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
}

#mean_1052_7985_dw {
    position: absolute;
    left: 749px;
    top: 711px;
    overflow: visible;
    width: 123px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
}

#mean_1052_7985_dx {
    position: absolute;
    left: 749px;
    top: 739px;
    overflow: visible;
    width: 123px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
}

#Button_Primary {
    position: absolute;
    width: 148px;
    height: 35px;
    left: 69px;
    top: 121px;
    overflow: visible;
}

.Rectangle_1091 {
    position: absolute;
    overflow: visible;
    width: 148px;
    height: 35px;
    left: 0px;
    top: 0px;
}

#Open____589234_83 {
    position: absolute;
    left: 22px;
    top: 11px;
    overflow: visible;
    width: 105px;
    white-space: nowrap;
    line-height: 30px;
    margin-top: -9px;
    text-align: center;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(38, 153, 251, 1);
}

#Button_Primary_d {
    position: absolute;
    width: 148px;
    height: 35px;
    left: 237px;
    top: 121px;
    overflow: visible;
}

.Rectangle_1091_d {
    position: absolute;
    overflow: visible;
    width: 148px;
    height: 35px;
    left: 0px;
    top: 0px;
}

#Prev_Close____589234_8 {
    position: absolute;
    left: 9px;
    top: 11px;
    overflow: visible;
    width: 131px;
    white-space: nowrap;
    line-height: 30px;
    margin-top: -9px;
    text-align: center;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(38, 153, 251, 1);
}

#Button_Primary_ea {
    position: absolute;
    width: 146px;
    height: 35px;
    left: 405px;
    top: 121px;
    overflow: visible;
}

.Rectangle_1091_ea {
    position: absolute;
    overflow: visible;
    width: 146px;
    height: 35px;
    left: 0px;
    top: 0px;
}

#YTD_Return___17_ {
    position: absolute;
    left: 21px;
    top: 11px;
    overflow: visible;
    width: 105px;
    white-space: nowrap;
    line-height: 30px;
    margin-top: -9px;
    text-align: center;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(38, 153, 251, 1);
}

#Button_Primary_eb {
    position: absolute;
    width: 146px;
    height: 35px;
    left: 571px;
    top: 121px;
    overflow: visible;
}

.Rectangle_1091_eb {
    position: absolute;
    overflow: visible;
    width: 146px;
    height: 35px;
    left: 0px;
    top: 0px;
}

#Range__1543___2352 {
    position: absolute;
    left: 19px;
    top: 11px;
    overflow: visible;
    width: 109px;
    white-space: nowrap;
    line-height: 30px;
    margin-top: -9px;
    text-align: center;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(38, 153, 251, 1);
}

#Button_CTA {
    position: absolute;
    width: 148px;
    height: 35px;
    left: 737px;
    top: 121px;
    overflow: visible;
}

.Rectangle_1090 {
    position: absolute;
    overflow: visible;
    width: 148px;
    height: 35px;
    left: 0px;
    top: 0px;
}

#Set_Alert {
    position: absolute;
    left: 50px;
    top: 11px;
    overflow: visible;
    width: 49px;
    white-space: nowrap;
    line-height: 30px;
    margin-top: -9px;
    text-align: center;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(255, 255, 255, 1);
}

#Button_Primary_ed {
    position: absolute;
    width: 131px;
    height: 35px;
    left: 905px;
    top: 117px;
    overflow: visible;
}

.Rectangle_1091_ee {
    position: absolute;
    overflow: visible;
    width: 131px;
    height: 35px;
    left: 0px;
    top: 0px;
}

#Historical_Data {
    position: absolute;
    left: 24px;
    top: 11px;
    overflow: visible;
    width: 85px;
    white-space: nowrap;
    line-height: 30px;
    margin-top: -9px;
    text-align: center;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(38, 153, 251, 1);
}

#Backward {
    position: absolute;
    width: 50px;
    height: 39px;
    left: 1056px;
    top: 117px;
    overflow: visible;
}

.Rectangle_1073 {
    position: absolute;
    overflow: visible;
    width: 50px;
    height: 39px;
    left: 0px;
    top: 0px;
}

#Symbol_84 {
    transform: translate(0px, 0px) matrix(1, 0, 0, 1, 20.3496, 16.2313) rotate(90deg);
    transform-origin: center;
    position: absolute;
    width: 9.4px;
    height: 6.1px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Path_36_ej {
    overflow: visible;
    position: absolute;
    width: 6.1px;
    height: 9.4px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Forward {
    position: absolute;
    width: 50px;
    height: 43px;
    left: 1130px;
    top: 117px;
    overflow: visible;
}

.Rectangle_1072 {
    position: absolute;
    overflow: visible;
    width: 50px;
    height: 43px;
    left: 0px;
    top: 0px;
}

#Symbol_85 {
    transform: translate(0px, 0px) matrix(1, 0, 0, 1, 20.35, 18.202) rotate(-90deg);
    transform-origin: center;
    position: absolute;
    width: 9.4px;
    height: 6.1px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Path_36_en {
    overflow: visible;
    position: absolute;
    width: 6.1px;
    height: 9.4px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}